<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liger.practice">

    <!-- 悬浮窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".aidlpractice.AIDLActivity"/>
        <activity android:name=".view.DynamicViewActivity"/>
        <activity android:name=".adview.AdViewActivity" />
        <activity android:name=".annotation.AnnotationActivity"/>
        <activity android:name=".greendao.DbActivity"/>
        <activity android:name=".timer.TimerActivity" />
        <activity android:name=".rx.RxActivity" />
        <activity android:name=".timer.TimerActivity2" />
        <activity android:name=".anim.AnimActivity"/>
        <activity android:name=".floatwindow.FloatActivity"/>
        <activity android:name=".floatwindow.FloatActivity2"/>
        <activity android:name=".anim.ChildViewActivity"/>
        <activity android:name=".view.ConstraintActivity"/>
        <activity android:name=".rx.RxCreateActivity"/>
        <activity android:name=".rx.RxConvertActivity"/>
        <activity android:name=".rx.RxCombineActivity"/>
        <activity android:name=".rx.RxFunctionActivity"/>
        <activity android:name=".RegexActivity"/>
        <activity android:name=".retrofit.RetrofitActivity"/>

        <service android:name=".floatwindow.FloatWindowService"/>
    </application>

</manifest>